<div class="main-container">
  <div class="card" style="background-color: #f6f6f6;">
    <div class="card-body">
      <h4 class="card-title">Bond Yield Calculator</h4>
      <form [formGroup]="emiForm">
        <div class="form-group row">
          <label for="inputEmail3" class="font-weight-bold col-sm-2 col-form-label">Amount <sup
              class="danger">*</sup></label>
          <div class="col-sm-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input required formControlName="amount" type="number" class="form-control"
                id="inlineFormInputGroupUsername" placeholder="Amount">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail3" class="font-weight-bold col-sm-2 col-form-label">Payment Frequency
            <sup class="danger">*</sup>
          </label>
          <div class="col-sm-6">
            <div class="input-group">
              <select (change)="onYearChange($event)" required formControlName="year" type="text" class="form-control"
                id="inlineFormInputGroupUsername" placeholder="Payment Frequency">
                <option *ngFor="let years of paymentFrequency" [value]="years.year">{{years.year}} year</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="font-weight-bold col-sm-2 col-form-label">Rate of Interest
            <sup class="danger">*</sup>
          </label>
          <div class="col-sm-6">
            <div class="input-group">
              <input readonly required formControlName="roi" type="number" class="form-control"
                placeholder="Rate of Interest" aria-label="ROI" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">%</span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label"></label>
          <div class="col-sm-6">
            <button [disabled]="!emiForm.valid" type="button" (click)="onCalculate()"
              class="btn btn-primary float-right">Calculate</button>
          </div>
        </div>

      </form>
    </div>
  </div>


  <div *ngIf="showProjection" class="card" style="background-color: #f6f6f6; margin-top: 10px;">
    <div class="card-body">
      <h4 class="card-title">Calculation Projection</h4>
      <form [formGroup]="emiForm">
        <div class="form-group row">
          <label for="inputEmail3" class="font-weight-bold col-sm-2 col-form-label">Final Amount</label>
          <div class="col-sm-6">
            {{totalAmount}}
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail3" class="font-weight-bold col-sm-2 col-form-label">Initial Balance</label>
          <div class="col-sm-6">
            <div class="input-group">
              {{initialBalance}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="font-weight-bold col-sm-2 col-form-label">Total Interest Earned</label>
          <div class="col-sm-6">
            <div class="input-group">
              {{totalInterest}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>