.danger {
  color: red !important;
}

.label-margin {
  margin-top: -15px !important;
  margin-left: 10px !important;
}

.head-top-0 {
  background: #999 !important;
  color: white;
}

.head-top-1 {
  background: #7fb43b !important;
  color: white;
}

.head-top-2 {
  background: #cd6c00 !important;
  color: white;
}

.head-top-3 {
  background: #4496bf !important;
  color: white;
}
